Repository protocolguild/documentation, pull requests merged in 2024-10, with the labels that each got.

#252 Added Povilas from Grandine
  docs/02-membership.md
Labels: add member

#258 Reduce sean to half-weight
  docs/02-membership.md
Labels: change weight

#259 Add Paul Hauner
  docs/02-membership.md
Labels: add member

#262 Ben Adams weight 0.5 -> 1
  docs/02-membership.md
Labels: change weight

#253 Added Tumas from Grandine
  docs/02-membership.md
Labels: add member

#265 Add Sudeep Kumar from Erigon
  docs/02-membership.md
Labels: add member

#268 Add Shoham Chakraborty from Erigon
  docs/02-membership.md
Labels: add member

#263 Remove djrtwo
  docs/02-membership.md
Labels: remove member

#269 Add Kewei Chen from Erigon
  docs/02-membership.md
Labels: add member

#271 Add Anders Kristiansen from Nethermind
  docs/02-membership.md
Labels: add member

#274 Remove Matt Nelson from split
  docs/02-membership.md
Labels: remove member

#273 chore: update multiplier
  docs/02-membership.md
Labels: change weight, processed

#275 Update DaniPopes (reth) contributions and weight
  docs/02-membership.md
Labels: change weight

#283 Temporarily remove David Theodore from PG Allocation
  docs/02-membership.md
Labels: remove member

#277 Update weight of axic to 0.5
  docs/02-membership.md
Labels: change weight, processed

#272 Add bhartnett from Nimbus
  docs/02-membership.md
Labels: add member, processed
