Repository protocolguild/documentation, pull requests merged in 2024-07, with the labels that each got.

#178 Add Carlos Bermudez Porto from Nethermind (part-time)
  docs/02-membership.md
Labels: add member

#197 Add Damian Orzechowski from Nethermind (full-time)
  docs/02-membership.md
Labels: add member

#204 Remove myself from listing
  docs/02-membership.md
Labels: remove member

#201 Add Bhargava Shastry
  docs/02-membership.md
Labels: add member

#207 Update Rafael's multiplier and contribution link
  docs/02-membership.md
Labels: change weight

#224 docs(membership): testing team updates
  docs/02-membership.md
Labels: change weight

#219 Remove Paul Hauner
  docs/02-membership.md
Labels: remove member

#225 Update Daniel Lazarenko (battlmonstr)'s weight
  docs/02-membership.md
Labels: change weight

#210 Add Eitan Seri-Levi
  docs/02-membership.md
Labels: add member

#226 Add Milen Filatov from Erigon
  docs/02-membership.md
Labels: add member

#221 Add a line about Ethereum values in Eligibility section
  docs/01-eligibility.md
Labels: eligibility guidelines
