Repository protocolguild/documentation, pull requests merged in 2025-01, with the labels that each got.

#291 Add Ilya Mikheev from Erigon
  docs/02-membership.md
Labels: add member

#289 Add Benedikt Wagner
  docs/02-membership.md
Labels: add member

#296 Change Ameziane (Besu) weight to 1 (Full time)
  docs/02-membership.md
Labels: change weight, processed

#301 Update 02-membership.md
  docs/02-membership.md
Labels: remove member, processed

#302 remove Echo
  docs/02-membership.md
Labels: remove member, processed

#303 Update 02-membership.md to remove myself from PG
  docs/02-membership.md
Labels: remove member, processed

#318 Removing Chenyi Zhang for being temporarily less active for …
  docs/02-membership.md
Labels: remove member, processed

#314 Remove Peter (sabbatical)
  docs/02-membership.md
Labels: remove member, processed

#313 Downgrading the weight
  docs/02-membership.md
Labels: change weight, processed

#307 Added Artiom Tretjakovas
  docs/02-membership.md
Labels: add member, processed

#305 Add Marc Harvey-Hill
  docs/02-membership.md
Labels: add member, processed

#306 Added Hangleang
  docs/02-membership.md
Labels: add member, processed

#309 Add Luis Pinto
  docs/02-membership.md
Labels: add member, processed

#312 Add Agnish Ghosh
  docs/02-membership.md
Labels: add member, processed
