Repository protocolguild/documentation, pull requests merged in 2025-07, with the labels that each got.

#366 Remove Hugo De la cruz
  docs/01-membership.md
Labels: remove member

#365 Remove @carver and @ogenev
  docs/01-membership.md
Labels: remove member

#364 Update 01-membership.md
  docs/01-membership.md
Labels: change weight

#384 Remove Kolby ML
  docs/01-membership.md
Labels: remove member, processed

#388 Update 01-membership.md
  docs/01-membership.md
Labels: change weight, processed
