Repository protocolguild/documentation, pull requests merged in 2025-04, with the labels that each got.

#335 Remove Sammy
  docs/02-membership.md
Labels: remove member

#334 Remove Nick (sabbatical)
  docs/02-membership.md
Labels: remove member, processed

#340 Remove dceleda
  docs/02-membership.md
Labels: remove member

#341 Remove Kairat Abylkasymov
  docs/02-membership.md
Labels: remove member

#336 Add Peter Vecchiarelli as Ops Contributor
  docs/02-membership.md
Labels: add member

#331 Add David Theodore back to PG Allocation
  docs/02-membership.md
Labels: add member

#330 Add Dimitry from EF Testing
  docs/02-membership.md
Labels: add member

#332 Convert Spencer from EF Testing back to Full-Weight
  docs/02-membership.md
Labels: change weight, processed

#337 Add Matt Evans from ethPandaOps
  docs/02-membership.md
Labels: add member

#338 Add Matilda Clerke from Besu
  docs/02-membership.md
Labels: add member

#343 Add Arsenii Kulikov
  docs/02-membership.md
Labels: add member

#342 Increase Milen Filatov's (Erigon) weight to full
  docs/02-membership.md
Labels: change weight, processed

#339 adding geth contribution and updating weight to 1
  docs/02-membership.md
Labels: change weight, processed

#347 add Advaita Saha
  docs/02-membership.md
Labels: add member

#345 add Kanchan Kaur partial weight
  docs/02-membership.md
Labels: add member

#344 Changed Hangleang's multiplier to 1
  docs/02-membership.md
Labels: change weight, processed

#346 Remove joshie (reth)
  docs/02-membership.md
Labels: remove member

#349 Remove Jorge Mederos (Nethermind)
  docs/02-membership.md
Labels: remove member
